
<form method="POST" action="/figures">
  Figure Name:<input type="text" name="figure[name]"><br>

  <% @landmarks.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" id="<%= landmark.id %>" value="<%= landmark.id %>"> <%= landmark.name %><br>
  <% end %>

    <p> Create New Landmark </p><br>
    <input type="text" name="landmark[name]"><br>
    <input type="text" name="landmark[year_completed]"><br>

    <br><p> Create New Title </p><br>
    <input type="text" name="title[name]"><br>




  <button type="submit" value="Create New Figure">Create New Figure</button>
</form>
